:root {
  --coffeeBlack: #0b1d03;
  --coffee: #a0996c;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Khula', sans-serif;
  padding: 1.6rem 4rem 0.8rem 4rem;
}

textarea {
  font-size: 1rem;
  font-family: Arial, sans-serif;
}

h2 {
  font-family: 'Playfair', serif;
  font-size: 2.8rem;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

/* Header ========================  */

header {
  position: absolute;
  left: 0;

  text-align: center;
  color: white;

  padding-bottom: 1.6rem;

  width: 100%;
}

header .container {
  display: flex;
  justify-content: space-between;

  max-width: 1600px;
  margin: 0 auto;
  padding: 0 4rem;
}

header button {
  background: transparent;
  border: none;
}

header h1 {
  font-size: 1.4rem;
  font-family: 'Playfair', serif;
}

header h1 span {
  font-style: italic;
}

/* Banner ====================== */

section.banner {
  color: white;

  display: flex;
  align-items: flex-end;
}

section.banner .container {
  position: absolute;
  margin-bottom: 5.2rem;
}

img.banner {
  width: calc(100% + 8rem);
  margin: -1.6rem -4rem 0;

  z-index: -1;
}

section.banner .container > div:first-child {
  display: flex;
  gap: 0.4rem;
}

.banner-selector {
  width: 1.6rem;
  height: 4px;
  background: #ffffff;
  border-radius: 10px;
  opacity: 0.5;

  cursor: pointer;
}

.banner-selector.active {
  opacity: 1;
}

section.banner h2 {
  font-size: 4rem;
  width: 45%;
  line-height: 4.4rem;
  margin-top: 2rem;
}

section.banner p {
  margin-top: 1.2rem;
  max-width: 35%;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

section.banner .buttons {
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
}

section.banner button {
  background: none;
  border: none;
}

section.banner button img {
  height: 2.6rem;
}

/* Descriptions ==================== */

section.description h2,
section.description p {
  color: var(--coffeeBlack);
}

section.description {
  display: flex;
}

section.description.first {
  margin-top: 6rem;
  justify-content: space-between;
}

section.description.first div:first-child,
section.description.second div:last-child {
  max-width: 50%;
}

section.description img {
  max-width: 100%;
}

section.description.first div:last-child,
section.description.second div:first-child {
  max-width: 40%;
}

section.description.second {
  justify-content: flex-end;
  margin-top: 7.2rem;
}

section.description.second div:first-child {
  padding-right: 8%;
}

/* Coffee Variety ===================== */

section.coffee-variety {
  margin-top: 9.2rem;
}

section.coffee-variety h2 {
  color: #a0996c;
}

section.coffee-variety .container {
  margin-top: 3.2rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

section.coffee-variety > .container > div {
  background: #f7f1e6;
  border-radius: 8px;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem 1.6rem 1.6rem;
}

section.coffee-variety p {
  font-size: 1.2rem;
  font-weight: 700;
}

section.coffee-variety img {
  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
}

section.coffee-variety span.price.off {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--coffeeBlack);
  margin-right: 0.7rem;
}

section.coffee-variety span.price {
  font-size: 1.2rem;
  color: #969696;
}

section.coffee-variety button {
  margin-top: 2.4rem;

  color: white;
  font-size: 1rem;
  font-weight: 700;

  background: var(--coffeeBlack);
  border: none;
  border-radius: 4px;

  height: 3.8rem;
  width: 100%;
}

/* Ecomm Links ====================== */

.ecomm-links {
  margin-top: 6rem;
  padding: 4rem 0;
}

.ecomm-links ul {
  margin-bottom: 3.2rem;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.ecomm-links ul li {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  font-size: 1rem;
}

.ecomm-links ul li img {
  margin-bottom: 1.2rem;
}

.ecomm-links > div {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
}

.ecomm-links > div img {
  width: 100%;
}

.ecomm-links .button {
  display: flex;

  color: white;

  cursor: pointer;
}

.ecomm-links .button > div {
  position: absolute;
  width: calc(50% - 17rem);

  padding: 0 0 2rem 2rem;

  align-self: flex-end;
}

.ecomm-links p {
  margin-top: 1.2rem;
  font-size: 1rem;
}

/* Stores ============================ */

.stores {
  margin-top: 4rem;
  padding: 2rem 0;
}

.stores .inputs {
  margin: 2.4rem 0 1.2rem;

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.6rem;
}

input,
select,
textarea {
  padding: 0 1.2rem;
  height: 3.8rem;

  color: #969696;
  font-size: 1rem;

  border: 2px solid var(--coffeeBlack);
  border-radius: 4px;
}

input::placeholder,
textarea::placeholder {
  color: #969696;
  font-size: 1rem;
}

.stores input {
  background-image: url(../img/magnifier.svg);
  background-repeat: no-repeat;
  background-size: 1.4rem;
  background-position: calc(100% - 1.4rem) center;
}

.stores img {
  width: 100%;
}

/* Bag Checkout ======================== */

.modal.open {
  position: fixed;
  top: 0;
  left: 0;
  display: initial;
}

.modal {
  background: rgba(0, 0, 0, 0.4);
  min-width: 100%;
  min-height: 100%;
  display: none;
}

.modal > .container {
  display: grid;
  grid-template-columns: 2fr 3fr 5fr;
  height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
}

.modal > .container > div:not(:first-child) {
  background: #fff;
}

.modal > .container > .bag-checkout {
  padding: 1.6rem 1.6rem 2.4rem 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal > .container > .bag-products {
  padding: 2.4rem;
  border-right: 2px solid #c4c4c4;
  height: fit-content;
}

.modal h2 {
  font-size: 1.6rem;
  font-family: 'Khula', sans-serif;
  margin-bottom: 0.8rem;
  color: var(--coffeeBlack);
}

.modal > .container > .bag-products > .product {
  background: #f2f2f2;
  border-radius: 4px;
  padding: 1.2rem;
  display: flex;
}

.modal > .container > .bag-products > .product > img {
  max-height: 5.75rem;
  margin-right: 1.2rem;
}

.modal > .container > .bag-products > .product > span {
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.modal > .container > .bag-products > .product button {
  font-size: 1rem;
  background: none;
  border: none;
  color: var(--coffee);
}

.modal > .container button.close {
  background: transparent;
  border: none;
  width: 1.4rem;
  align-self: flex-end;
}

.modal > .container button.close > img {
  width: 100%;
}

.modal > .container > .bag-checkout > div {
  display: flex;
  align-self: flex-start;
  gap: 0.9rem;

  margin-top: -0.7rem;
  margin-bottom: 1.6rem;
}

.modal > .container input,
textarea {
  width: calc(100% - 2.4rem);
  margin-bottom: 1.2rem;
}

.modal > .container > .bag-checkout button:not(.close) {
  margin-top: 0.4rem;

  color: white;
  font-size: 1rem;
  font-weight: 700;

  background: var(--coffeeBlack);
  border: none;
  border-radius: 4px;

  height: 3.8rem;
  width: calc(100% - 2.4rem);
}

textarea {
  resize: none;
  height: calc(100vh - 33.45rem);
  padding: 1.2rem 1.4rem;
}

/* Footer ============================ */

footer {
  background: #f7f1e6;

  width: 100%;
  position: absolute;
  left: 0;
}

footer .container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2.8rem 4rem 0.8rem;
}

footer .footer-links {
  margin-bottom: 2.8rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer h3 {
  font-size: 1.4rem;
  font-family: 'Playfair', serif;
}

footer h3 span {
  font-style: italic;
}

.footer-links li {
  margin-bottom: 0.6rem;
}

.footer-links li:first-child {
  margin-bottom: 1rem;
  font-weight: 700;
}

.footer-links .social {
  display: flex;
  flex-direction: column;
}

.footer-links .social a:nth-child(n + 2) {
  margin-left: 1rem;
}

footer .mentorama {
  display: flex;
  justify-content: center;
}
.mentorama {
  padding-top: 1.2rem;
  font-weight: 700;
}

.mentorama img {
  height: 0.96rem;
  margin-left: 0.4rem;
  margin-top: 0.1rem;
}

/* Responsive =================== */

@media (min-width: 1600px) {
  html {
    font-size: 125%;
  }

  body {
    max-width: 1600px;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 87.5%;
  }
}
